body{
	margin: 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.hide{
	display: none;
}

.container{
	display: grid;
	grid-template: 
		"titleOne" 2fr
		"background" 15fr;
	height: 100vh;
}

.title{
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	background-image: url("../img/robotic.jpg");
	background-size: cover;
}

.title span{
	font-size: 2.5em;
	color: lightsteelblue;
	font-weight: bold;
	border-radius: 10px;
	text-align: center;
	width: 10%;
	box-sizing: border-box;
	background-image: url("../img/cube.jpg");
	background-position: center;
	background-size: 100% 100%;
}

#title1{
	grid-area: titleOne;
}

#title2{
	display: none;
}

#panel{
	position: fixed;
	bottom: 0;
	display: flex;
	width: 100vw;
	justify-content: space-around;
}

#panel form, #actions.show{
	display: contents;
}

#panel input[type=checkbox]{
	display: none;
}

#panel input[type="checkbox"] + label span{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: gray;
	border-radius: 50%;
	opacity: .7;
	cursor: pointer;
}

#panel input[type="checkbox"]:checked + label span{
	opacity: 1;
	background-color: red; 
}

#palette.show{
	display: contents;
}

#palette .close{
	display: flex;
	align-items: center;
	order: 99;
}

#palette>div{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	cursor: pointer;
}

#palette>div.selected{
	border: 2px dashed gray;
}

#palette .close{
	font-weight: bold;
	color: white;
	text-align: center;
	cursor: pointer;
}

#walk + label span{
	background-image: url("../img/walking.png");
	background-size: contain;
}

#beat + label span{
	background-image: url("../img/beat.png");
	background-size: contain;
}

#greet + label span{
	background-image: url("../img/greet.png");
	background-size: contain;
}

#dance + label span{
	background-image: url("../img/dance.png");
	background-size: contain;
}

#eat + label span{
	background-image: url("../img/eat.png");
	background-size: contain;
}

#blink + label span{
	background-image: url("../img/blink.png");
	background-size: contain;
}

#jump + label span{
	background-image: url("../img/jump.png");
	background-size: contain;
}

#color-wheel + label span{
	background-image: url("../img/color-wheel.png");
	background-size: contain;
}

.background {
	background-image: url("../img/spaceship.jpg");
	background-size: cover;
	padding: 1em 0;
	grid-area: background;
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: repeat(9,30px);
  	grid-template-rows: repeat(15,30px);
	grid-template-areas: 
		"   . . . head head head . . .   "
		"   . . . head head head . . .   "
		"   . . . head head head . . .   "
		
		"   . . . . neck . . . .   "
		"   . . body body body body body . .   "
		"   . leftArm body body body body body rightArm .   "
		
		
		"   . leftArm body body body body body rightArm .   "
		"   . leftArm body body body body body rightArm .   "
		"   . leftArm body body body body body rightArm .   "
		"   . leftArm . leftLeg . rightLeg . rightArm .   "
		"   . leftHand . leftLeg . rightLeg . rightHand .   "
		"   . . . leftLeg . rightLeg . . .   "
		"   . . . leftLeg . rightLeg . . .   "
		
		
		"   . . . leftLeg . rightLeg . . .   "
		"   . . leftFoot leftFoot . rightFoot rightFoot . .   ";
	justify-content: center;
	align-content: center;

}

.background>div{
	background-image: url("../img/robo-texture.png");
	background-size: cover;
	position: relative;
}

#head{
	border-radius: 35%;
	grid-area: head;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 1;
}
#eyes{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
.eye{
	background-image: url(../img/eye.png);
	background-size: cover;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}
#mouth{
	background: black;
	border-radius: 75% 75% 50% 50% / 25% 25% 50% 50%;
	width: 35px;
	height: 20px;
	align-self: center;
	
}
#lip{
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background: gray;
}
#neck{	
	z-index: 0;
	grid-area: neck;
}
#body{	
	border-radius: 40%;
	grid-area: body;
	display: flex;
	padding: 1em;
	justify-content: flex-end;
}
#heart img{
	width: 75px;
}
#heart{
	display: none;

}
#heart.zoomInOut{
	display: block;
}
.arm{
	border-radius: 2em;
}
#left-arm{
	grid-area: leftArm;
}
#right-arm{
	grid-area: rightArm;
}
.hand{
	border-radius: 50%;
}
#left-hand{
	grid-area: leftHand;
}
#right-hand{
	grid-area: rightHand;
}
.leg{
	border-radius: 2em;
}
#left-leg{
	grid-area: leftLeg;
}
#right-leg{
	grid-area: rightLeg;
}
.foot{
	border-radius: 2em;
}
#left-foot{
	grid-area: leftFoot;
}
#right-foot{
	grid-area: rightFoot;
}



		