body{
	margin: 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.container{
	display: grid;
	grid-template-areas: 
		"titleOne background titleTwo";
	height: 100vh;
}

.title{
	width: 10vw;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	background-image: url("../img/robotic.jpg");
	background-size: cover;
}

.title span{
	font-size: 3.4em;
	color: lightsteelblue;
	font-weight: bold;
	border-radius: 10px;
	text-align: center;
	width: 85%;
	box-sizing: border-box;
	background-image: url("../img/cube.jpg");
	background-position: center;
	background-size: 100% 100%;
}


#title1{
	grid-area: titleOne;
}
#title2{
	grid-area: titleTwo;
}
#panel{
	color: lightsteelblue;
	position: absolute;
	background: url("../img/metalic.jpg");
	background-size: 170% 120%;
	background-position: center;
	padding: 1em;
	right: 12%;
	top: 10%;
	border-radius: 15px;
}

#panel form{
	height: inherit;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
}

#panel fieldset{
	border: 0;
	justify-content: space-around;
}

#actions{
	display: grid;
	grid-template-columns: 1fr 1fr;
}


#panel legend{
	text-align: center;
}

#panel input[type=checkbox]{
	display: none;
}

#panel input[type="checkbox"] + label span{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: gray;
	border-radius: 50%;
	margin-right: 3px;
}

#panel input[type="checkbox"]:checked + label span{
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url("../img/eye.png");
	background-size: contain;
}

.background {
	width: 80vw;
	background-image: url("../img/spaceship.jpg");
	background-size: cover;
	padding: 1em 0;
	grid-area: background;
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: repeat(15,35px);
  	grid-template-rows: repeat(15,35px);
	grid-template-areas: 
		". . . . . . head head head . . . . . ."
		". . . . . . head head head . . . . . ."
		". . . . . . head head head . . . . . ."
		
		". . . . . . . neck . . . . . . ."
		". . . . . body body body body body . . . . ."
		". . . . leftArm body body body body body rightArm . . . ."
		
		
		". . . . leftArm body body body body body rightArm . . . ."
		". . . . leftArm body body body body body rightArm . . . ."
		". . . . leftArm body body body body body rightArm . . . ."
		". . . . leftArm . leftLeg . rightLeg . rightArm . . . ."
		". . . . leftHand . leftLeg . rightLeg . rightHand . . . ."
		". . . . . . leftLeg . rightLeg . . . . . ."
		". . . . . . leftLeg . rightLeg . . . . . ."
		
		
		". . . . . . leftLeg . rightLeg . . . . . ."
		". . . . . leftFoot leftFoot . rightFoot rightFoot . . . . .";
	justify-content: center;
	align-content: center;

}

.background>div{
	background-image: url("../img/robo-texture.png");
	background-size: cover;
	position: relative;
}

#head{
	border-radius: 35%;
	grid-area: head;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 1;
}
#eyes{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
.eye{
	background-image: url(../img/eye.png);
	background-size: cover;
	border-radius: 50%;
	width: 35px;
	height: 35px;
}
#mouth{
	background: black;
	border-radius: 75% 75% 50% 50% / 25% 25% 50% 50%;
	width: 35px;
	height: 20px;
	align-self: center;
	
}
#lip{
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background: gray;
}
#neck{	
	z-index: 0;
	grid-area: neck;
}
#body{	
	border-radius: 40%;
	grid-area: body;
	display: flex;
	padding: 1em;
	justify-content: flex-end;
}
#heart img{
	width: 75px;
}
#heart{
	display: none;

}
#heart.zoomInOut{
	display: block;
}
.arm{
	border-radius: 2em;
}
#left-arm{
	grid-area: leftArm;
}
#right-arm{
	grid-area: rightArm;
}
.hand{
	border-radius: 50%;
}
#left-hand{
	grid-area: leftHand;
}
#right-hand{
	grid-area: rightHand;
}
.leg{
	border-radius: 2em;
}
#left-leg{
	grid-area: leftLeg;
}
#right-leg{
	grid-area: rightLeg;
}
.foot{
	border-radius: 2em;
}
#left-foot{
	grid-area: leftFoot;
}
#right-foot{
	grid-area: rightFoot;
}



		